<div id="search" class="row">
    <div class="col-md-12">
        <div class="input-group ">
            <div class="input-group-btn dropdown">
                <button type="button" class="btn btn-default dropdown-toggle my-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{$ctrl.tipo | uppercase}}
                </button>
                <div class="dropdown-menu dropdown-primary">
                    <a class="dropdown-item" data-ng-click="$ctrl.buscar($ctrl.tipo = 'professor')">Professor</a>
                    <a class="dropdown-item" data-ng-click="$ctrl.buscar($ctrl.tipo = 'aluno')">Aluno</a>
                </div>
            </div>
            <input data-ng-model="search" type="text" placeholder="Pesquisar" class="form-control bg-white">
            <span class="input-group-btn">
                <button class="btn btn-primary my-0" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</div>

<div id="cardConsulta " class="card ">
    <div class="card-body ">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th data-ng-if="key!='id' " data-ng-repeat="(key, value) in $ctrl.dados[0] ">{{key | capitalize}}</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="(key, value) in $ctrl.dados | filter:search ">
                    <th scope="row">{{key+1}}</th>
                    <td data-ng-if="key!='id' " data-ng-repeat="(key, value) in value ">{{value}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group " aria-label="Basic example ">
                            <button type="button" class="btn btn-primary px-3" data-ng-click="$ctrl.toSee($index)"><i class="fa fa-user" aria-hidden="true "></i></button>
                            <button type="button" class="btn btn-warning px-3" data-ng-click="$ctrl.edit($index)"><i class="fa fa-edit" aria-hidden="true "></i></button>
                            <button type="button" class="btn btn-danger px-3" data-ng-click="$ctrl.delete($index)"><i class="fa fa-trash-o" aria-hidden="true "></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>