<div class="row mb-4">
    <div class="col-md-12">
        <blockquote class="blockquote bq-primary z-depth-1">
            <div class="row">
                <div class="col">
                    <div class="bq-title bt">Turmas</div>
                </div>
                <div class="col text-right">
                    <button type="button" class="btn btn-primary px-3" data-ng-click="$ctrl.saveTurma()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>
            <table class="table table-hover table-sm">
                <thead>
                    <tr class="text-center">
                        <!-- <th class="col-auto">#</th> -->
                        <th class="col-auto">Série</th>
                        <th class="col-auto">Turma</th>
                        <th class="col-auto">Turno</th>
                        <th class="col-auto">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" data-ng-repeat="t in $ctrl.dados.turmas track by $index">
                        <!-- <th scope="row">1</th> -->
                        <td>{{t.serie}}</td>
                        <td>{{t.turma}}</td>
                        <td>{{t.turno | uppercase}}</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <!-- <button type="button" class="btn btn-primary px-2"><i class="fa fa-search" aria-hidden="true"></i></button> -->
                                <button type="button" class="btn btn-warning px-2" data-ng-click="$ctrl.editTurma($index)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-danger px-2" data-ng-click="$ctrl.deleteTurma($index)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </blockquote>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <blockquote class="blockquote bq-primary z-depth-1">
            <div class="row">
                <div class="col">
                    <div class="bq-title bt">Anos</div>
                </div>
                <div class="col text-right">
                    <button type="button" class="btn btn-primary px-3" data-ng-click="$ctrl.saveAno()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>
            <table class="table table-hover table-sm">
                <thead>
                    <tr class="text-center">
                        <!-- <th class="col-auto">#</th> -->
                        <th class="col">Ano</th>
                        <th class="col-auto">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" data-ng-repeat="a in $ctrl.dados.anos track by $index">
                        <!-- <th scope="row">{{$index+1}}</th> -->
                        <td>{{a.nome}}</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <!-- <button type="button" class="btn btn-primary px-2"><i class="fa fa-search" aria-hidden="true"></i></button> -->
                                <button type="button" class="btn btn-warning px-2" data-ng-click="$ctrl.editAno($index)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-danger px-2" data-ng-click="$ctrl.deleteAno($index)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </blockquote>
    </div>
    <div class="col-md-4">
        <blockquote class="blockquote bq-primary z-depth-1">
            <div class="row">
                <div class="col">
                    <div class="bq-title bt">Nomenclaturas</div>
                </div>
                <div class="col text-right">
                    <button type="button" class="btn btn-primary px-3" data-ng-click="$ctrl.saveNomenclatura()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>
            <table class="table table-hover table-sm">
                <thead>
                    <tr class="text-center">
                        <!-- <th class="col-auto">#</th> -->
                        <th class="col">Nomenclatura</th>
                        <th class="col-auto">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" data-ng-repeat="n in $ctrl.dados.nomenclaturas track by $index">
                        <!-- <th scope="row">{{$index+1}}</th> -->
                        <td>{{n.nome}}</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <!-- <button type="button" class="btn btn-primary px-2"><i class="fa fa-search" aria-hidden="true"></i></button> -->
                                <button type="button" class="btn btn-warning px-2" data-ng-click="$ctrl.editNomenclatura($index)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-danger px-2" data-ng-click="$ctrl.deleteNomenclatura($index)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </blockquote>
    </div>
    <div class="col-md-4">
        <blockquote class="blockquote bq-primary z-depth-1">
            <div class="row">
                <div class="col">
                    <div class="bq-title bt">Séries</div>
                </div>
                <div class="col text-right">
                    <button type="button" class="btn btn-primary px-3" data-ng-click="$ctrl.saveSerie()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>
            <table class="table table-hover table-sm">
                <thead>
                    <tr class="text-center">
                        <!-- <th class="col-auto">#</th> -->
                        <th class="col">Série</th>
                        <th class="col-auto">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" data-ng-repeat="s in $ctrl.dados.series track by $index">
                        <!-- <th scope="row">{{$index+1}}</th> -->
                        <td>{{s.nome}}</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <!-- <button type="button" class="btn btn-primary px-2"><i class="fa fa-search" aria-hidden="true"></i></button> -->
                                <button type="button" class="btn btn-warning px-2" data-ng-click="$ctrl.editSerie($index)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-danger px-2" data-ng-click="$ctrl.deleteSerie($index)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </blockquote>
    </div>
</div>