<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="topnav">
        <a class="navbar-brand" ui-sref="root.home"><img class="rounded-circle" src="app/content/img/logo.jpg" alt="" width="40"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="root.home">MENU1</a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="root.404">MENU2</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <a class="btn btn-outline-success my-2 my-sm-0" ui-sref="acess.login">Login</a>
            </form>
        </div>
    </nav>
</header>