<div class="container-fluid ">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-custom mt-4">
                <h5 class="card-header text-white">Disciplinas</h5>
                <div class="card-body">
                    <!-- <nav class="nav flex-column">
                        <a class="nav-link active" href="" data-toggle="collapse" data-target="#menu1" aria-expanded="true" aria-controls="menu1">Active</a>
                        <div id="menu1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            sfasdf
                        </div>

                        <a class="nav-link active" href="" data-toggle="collapse" data-target="#menu2" aria-expanded="true" aria-controls="menu2">Active</a>                        
                        <div id="menu2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            sfasdf
                        </div>

                    </nav> -->
                    <ul class="list-group list-group-flush accordion-custom">
                        <div data-ng-repeat="program in $ctrl.programs" data-ng-class="{'mt-2': $index > 0}">
                            <li class="list-group-item list-group-item-action pointer d-flex align-items-center justify-content-between" 
                                data-toggle="collapse" 
                                aria-expanded="true" 
                                data-target="#{{program}}">
                                <span>{{program}}</span>
                                <span class="fas fa-caret-right"></span>
                            </li>
                            <div id="{{program}}" class="collapse show" aria-labelledby="headingOne">
                                <a  data-ng-repeat="course in $ctrl.myCoursesList" 
                                    class="ml-4 nav-link"  
                                    href
                                    data-ng-if="course.program_description == program"
                                    data-ng-click="$ctrl.courseActive(course)">
                                    {{course.course_description}}<br>
                                    <small class="mt-0 text-secondary">
                                        {{course.semester_number}}º Semestre | {{course.shift_description}}
                                    </small>
                                </a>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-custom mt-4" id="allocation">

                <h5 class="card-header text-white d-flex justify-content-between">
                    Lotações
                    <button type="button" class="btn btn-outline-light btn-sm fas fa-sync"></button>
                </h5>

                <div class="card-body table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" colspan="2">HORÁRIO</th>
                                <!-- <th scope="col">#</th> -->
                                <th scope="col">SEGUNDA</th>
                                <th scope="col">TERÇA</th>
                                <th scope="col">QUARTA</th>
                                <th scope="col">QUINTA</th>
                                <th scope="col">SEXTA</th>
                                <th scope="col">SÁBADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row" rowspan="2" class="align-middle w-1">MANHÃ</td>
                                <th scope="row">A</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">B</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@fat</td>
                                <td>@fat</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <td scope="row" rowspan="2" class="align-middle w-1">TARDE</td>
                                <th scope="row">A</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">B</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>