<div class="container-fluid ">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-custom mt-4">
                <h5 class="card-header text-white">Disciplinas</h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush accordion-custom">
                        <div data-ng-repeat="program in $ctrl.programs" data-ng-class="{'mt-2': $index > 0}">
                            <li class="list-group-item list-group-item-action pointer d-flex align-items-center justify-content-between" 
                                data-toggle="collapse" 
                                aria-expanded="true" 
                                data-target="#{{program}}">
                                <span>{{program}}</span>
                                <span class="fas fa-caret-right"></span>
                            </li>
                            <div id="{{program}}" class="collapse show" aria-labelledby="headingOne">
                                <a  data-ng-repeat="course in $ctrl.myCoursesList" 
                                    class="ml-4 nav-link"  
                                    href
                                    data-ng-if="course.program_description == program"
                                    data-ng-click="$ctrl.courseActive(course)">
                                    {{course.course_description}}<br>
                                    <small class="mt-0 text-secondary">
                                        {{course.semester_number}}º Semestre | {{course.shift_description}}
                                    </small>
                                </a>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <div class="card card-custom mt-4" id="allocation">

                    <h5 class="card-header text-white d-flex justify-content-between">
                        Lotações
                        <button type="button" class="btn btn-outline-light btn-sm fas fa-sync"></button>
                    </h5>

                    <div class="card-body table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" colspan="2">HORÁRIO</th>
                                    <!-- <th scope="col">#</th> -->
                                    <th scope="col" class="col-2">SEGUNDA</th>
                                    <th scope="col" class="col-2">TERÇA</th>
                                    <th scope="col" class="col-2">QUARTA</th>
                                    <th scope="col" class="col-2">QUINTA</th>
                                    <th scope="col" class="col-2">SEXTA</th>
                                    <th scope="col" class="col-2">SÁBADO</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="(key, period) in $ctrl.allocation['MANHÃ']">
                                    <td scope="row" 
                                        rowspan="2" 
                                        class="align-middle w-1"
                                        data-ng-if="$index == 0">
                                        MANHÃ
                                    </td>
                                    <th scope="row" class="w-1">{{key}}</th>
                                    <td data-ng-repeat="course in period">
                                        <p data-ng-repeat="c in course">
                                            {{c.course_description}}
                                        </p>
                                    </td>
                                </tr>
                                <tr data-ng-repeat="(key, period) in $ctrl.allocation['TARDE']">
                                    <td scope="row" 
                                        rowspan="2" 
                                        class="align-middle w-1"
                                        data-ng-if="$index == 0">
                                        TARDE
                                    </td>
                                    <th scope="row" class="w-1">{{key}}</th>
                                    <td data-ng-repeat="course in period">
                                        <p data-ng-repeat="c in course">
                                            {{c.course_description}}
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <div class="card card-custom mt-5" id="allocation">

                    <h5 class="card-header text-white d-flex justify-content-between">
                        Meu Horário
                        <button type="button" class="btn btn-outline-light btn-sm fas fa-sync"></button>
                    </h5>

                    <div class="card-body table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" colspan="2">HORÁRIO</th>
                                    <!-- <th scope="col">#</th> -->
                                    <th scope="col" class="col-2">SEGUNDA</th>
                                    <th scope="col" class="col-2">TERÇA</th>
                                    <th scope="col" class="col-2">QUARTA</th>
                                    <th scope="col" class="col-2">QUINTA</th>
                                    <th scope="col" class="col-2">SEXTA</th>
                                    <th scope="col" class="col-2">SÁBADO</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="(key, period) in $ctrl.professorSchedule['MANHÃ']">
                                    <td scope="row" 
                                        rowspan="2" 
                                        class="align-middle w-1"
                                        data-ng-if="$index == 0">
                                        MANHÃ
                                    </td>
                                    <th scope="row" class="w-1">{{key}}</th>
                                    <td data-ng-repeat="course in period">
                                        <p data-ng-repeat="c in course">
                                            {{c.course_description}}
                                        </p>
                                    </td>
                                </tr>
                                <tr data-ng-repeat="(key, period) in $ctrl.professorSchedule['TARDE']">
                                    <td scope="row" 
                                        rowspan="2" 
                                        class="align-middle w-1"
                                        data-ng-if="$index == 0">
                                        TARDE
                                    </td>
                                    <th scope="row" class="w-1">{{key}}</th>
                                    <td data-ng-repeat="course in period">
                                        <p data-ng-repeat="c in course">
                                            {{c.course_description}}
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>