{{data}}
<div class="card">
    <div class="row">
        <div class="dropdown mt-3 mb-3 ml-3 col-4">
            <button type="button" class="btn btn-outline-default waves-effect dropdown-toggle my-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{$ctrl.selectedYear.nome}}
            </button>
            <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" data-ng-repeat="ano in $ctrl.anos" data-ng-if="$ctrl.selectedYear.nome != ano.nome" data-ng-click="$ctrl.setAno(ano)">{{ano.nome}}</a>
            </div>
        </div>
        <div class="col text-center text-secondary">
            <h3 class="my-4"><strong>{{$ctrl.acao | uppercase}}</strong></h3>
        </div>
        <div class="col-4 text-right text-secondary mr-3">
            <h3 class="my-4">Ano Letivo: <strong>{{$ctrl.selectedYear.nome}}</strong></h3>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col">
        <div class="form-inline md-form form-sm mb-0">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="form-control w-25 ml-3" type="text" placeholder="Pesquisar" aria-label="Search" data-ng-model="search1">
        </div>


        <div class="card">
            <div class="card-header form-inline d-flex justify-content-between">
                <div class="dropdown">
                    <button type="button" class="btn btn-outline-default waves-effect dropdown-toggle my-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{$ctrl.selectedLeftYear.nome || $ctrl.selectedLeftYear || 'ANO'}}
                    </button>
                    <div class="dropdown-menu dropdown-primary">
                        <a class="dropdown-item" data-ng-click="$ctrl.setLeftAno(null)">Sem Turma</a>
                        <a class="dropdown-item" data-ng-repeat="ano in $ctrl.anos" data-ng-if="$ctrl.selectedLeftYear.nome != ano.nome" data-ng-click="$ctrl.setLeftAno(ano)">{{ano.nome}}</a>
                    </div>
                </div>

                <div class="dropdown" data-ng-hide="!$ctrl.selectedLeftYear.nome">
                    <button type="button" class="btn btn-outline-default waves-effect dropdown-toggle my-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span data-ng-if="$ctrl.selectedLeftTurma">{{$ctrl.selectedLeftTurma.serie}}ª série | {{$ctrl.selectedLeftTurma.turma}} | {{$ctrl.selectedLeftTurma.turno | uppercase}}</span>
                        <span data-ng-if="!$ctrl.selectedLeftTurma">SELECIONE UMA TURMA</span>
                    </button>
                    <div class="dropdown-menu dropdown-primary">
                        <a class="dropdown-item" data-ng-repeat="t in $ctrl.turmasLeft track by $index" data-ng-if="$ctrl.selectedLeftYear.nome != ano.nome" data-ng-click="$ctrl.setLeftTurma(t)">{{t.serie}}ª série | {{t.turma}} | {{t.turno | uppercase}}</a>
                    </div>
                </div>

                <button type="button" class="btn btn-primary px-3"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>

            <ul class="list-group list-group-flush" dnd-list="$ctrl.models.lists.left" dnd-disable-if="true">
                <li class="list-group-item" data-ng-repeat="item in $ctrl.models.lists.left | filter: search1" dnd-draggable="item" dnd-moved="$ctrl.models.lists.left.splice($index, 1)" dnd-effect-allowed="move" dnd-selected="item.selected = !item.selected" ng-class="{'selected': item.selected}">
                    {{item.label.nome}}
                </li>
                <li data-ng-if="!$ctrl.selectedLeftYear || ($ctrl.selectedLeftYear.nome && !$ctrl.selectedLeftTurma)" class="list-group-item text-muted text-center">
                    <i class="fa fa-info-circle"></i>&ensp;NENHUMA TURMA SELECIONADA
                </li>
                <li data-ng-if="$ctrl.models.lists.left.length == 0 && $ctrl.selectedLeftTurma" class="list-group-item text-muted text-center">
                    <i class="fa fa-info-circle"></i>&ensp;TURMA VAZIA
                </li>
            </ul>
        </div>
    </div>

    <!-- //////// -->

    <div class="col">
        <div class="row d-flex justify-content-end">
            <div class="form-inline md-form form-sm mb-0">
                <input class="form-control w-75 mr-3" type="text" placeholder="Pesquisar" aria-label="Search" data-ng-model="search2">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
        </div>

        <div class="card mt-0">
            <div class="card-header form-inline d-flex justify-content-between">
                <button type="button" class="btn btn-default px-3" data-ng-click="$ctrl.remover()"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                <div class="dropdown">
                    <button type="button" class="btn btn-outline-default waves-effect dropdown-toggle my-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="1==2">
                        <span data-ng-if="$ctrl.selectedTurma">{{$ctrl.selectedTurma.serie}}ª série | {{$ctrl.selectedTurma.turma}} | {{$ctrl.selectedTurma.turno | uppercase}}</span>
                        <span data-ng-if="!$ctrl.selectedTurma">SELECIONE UMA TURMA</span>
                    </button>
                    <div class="dropdown-menu dropdown-primary">
                        <a class="dropdown-item" data-ng-repeat="t in $ctrl.turmas track by $index" data-ng-if="$ctrl.selectedYear.nome != ano.nome" data-ng-click="$ctrl.setTurma(t)">{{t.serie}}ª série | {{t.turma}} | {{t.turno | uppercase}}</a>
                    </div>
                </div>
            </div>
            <div class="card-text container">
                <label class="custom-checkbox form-inline pointer my-1">
                    <input type="checkbox" class="custom-control-input" data-ng-model="allLeft" data-ng-indeterminate="" data-ng-change="$ctrl.selectAll('right', allLeft)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Todos</span>
                </label>
            </div>
            <ul class="list-group list-group-flush" dnd-list="$ctrl.models.lists.right" dnd-drop="$ctrl.drop(index, item)" dnd-disable-if="!$ctrl.selectedTurma">
                <li class="list-group-item form-inline pointer" data-ng-repeat="item in $ctrl.models.lists.right | filter: search2" dnd-disable-if="true" dnd-selected="item.selected = !item.selected" dnd-draggable="item" ng-class="{'selected': item.selected}">
                    <div class="custom-checkbox my-1">
                        <input class="custom-control-input" type="checkbox" data-ng-model="item.selected">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{item.label.nome}}</span>
                    </div>
                </li>
                <li class="list-group-item text-muted text-center" data-ng-if="!$ctrl.selectedTurma">
                    <i class="fa fa-info-circle"></i>&ensp;NENHUMA TURMA SELECIONADA
                </li>
                <li class="list-group-item text-muted text-center" data-ng-if="$ctrl.models.lists.right.length == 0 && $ctrl.selectedTurma">
                    <i class="fa fa-info-circle"></i>&ensp;TURMA VAZIA
                </li>
            </ul>
        </div>
    </div>
</div>