<div class="modal fade" id="addAno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{vm.header}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <form data-ng-submit="$ctrl.saveAno()">
                <div class="modal-body">
                    <formprof acao="vm.acao" dados="vm.dados"></formprof>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar <i class="fa fa-remove ml-1"></i></button>
                    <button data-ng-if="vm.acao != 'see'" type="submit" class="btn btn-primary btn-sm" data-ng-click="vm.close(true)">{{vm.acao}} <i class="fa fa-send ml-1"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>