.bt {
    margin-bottom: 30px !important;
}

#title {
    padding-bottom: 0;
}

figure {
    padding-top: 10px;
    cursor: pointer;
}

.capitalize {
    text-transform: capitalize;
}

.ui-state-default:hover {
    background-color: white;
}

blockquote {
    background-color: white;
}

.pointer {
    cursor: pointer;
}

#sortable,
section {
    margin-top: 30px;
}

#disciplinas {
    margin-left: 0;
}

#disciplinas label {
    margin-bottom: 5px !important;
    margin-left: 5px;
    margin-right: 5px;
}

#disciplinas label.active {
    background-color: #0d47a1 !important;
}

#conteudo {
    margin-top: 110px !important;
}

.navbar .navbar-brand {
    align-self: center;
}

#perfil img {
    /* background-color: white; */
    width: 45px;
    height: auto;
    /* margin-left: 50px; */
}


/* DROPDOWN */

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
    font-weight: 400;
}

.dropdown .dropdown-menu {
    padding: .5rem;
    width: 100% !important;
}

.dropdown .dropdown-menu.dropdown-primary .dropdown-item:active,
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:hover {
    background-color: #4285F4 !important;
}

.dropdown .dropdown-menu .dropdown-item:active,
.dropdown .dropdown-menu .dropdown-item:hover {
    border-radius: 2px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    /* background-color: #4285F4; */
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    color: #FFF!important;
}

.dropdown .dropdown-menu .dropdown-item {
    padding: .5rem !important;
    margin-left: 0 !important;
    font-size: .9rem !important;
}

.chip.chip-md {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
}

.chip.chip-md img {
    height: 42px;
    width: 42px;
}

.chip.chip-lg {
    height: 52px;
    line-height: 52px;
    border-radius: 26px;
}

.chip.chip-lg img {
    height: 52px;
    width: 52px;
}

.dropdown-content {
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 100px;
    max-height: 650px;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 999;
    will-change: width, height;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.dropdown-content li {
    clear: both;
    color: #000;
    cursor: pointer;
    line-height: 1.3rem;
    width: 100%;
    text-align: left;
    text-transform: none;
}

.dropdown-content li>span {
    font-size: .9rem;
    color: #4285F4;
    display: block;
    padding: .5rem;
}

.dropdown-content li {
    color: #000;
    cursor: pointer;
    line-height: 1.3rem;
    text-align: left;
    text-transform: none;
}


/* INPUT FORM */


/*.md-form label {
        color: #ff3547;
    }
    
    /* label focus color
    .md-form input[type=text]:focus + label {
        color: #ff3547;
    }

    label underline focus color
    .md-form input[type=text]:focus {
         border-bottom: 1px solid #ff3547;
         box-shadow: 0 1px 0 0 #ff3547;
    }*/


/* valid color */


/* .md-form input.ng-valid {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 green;
}

.md-form input.ng-valid+label {
    color: green;
} */


/* invalid color */

.md-form input.ng-invalid.ng-touched {
    border-bottom: 1px solid #e57373;
    box-shadow: 0 1px 0 0 #e57373;
}


/* .md-form input.ng-invalid.ng-touched+label {
    color: #ff3547;
} */


/* .input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    padding-left: 15px;
}

.input-group.md-form.form-sm.form-2 input.grey-border {
    border: 1px solid #e9ecef;
}

.input-group input[type=text]:focus:not([readonly]) {
    box-shadow: none;
}

.form-2 .input-group-addon {
    border: 1px solid #e9ecef;
} */

#search {
    margin-bottom: 20px;
}

#search input {
    padding-left: 15px !important;
}


/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #e0e0e0 !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #4285F4 !important;
}


/* Custom page CSS
  -------------------------------------------------- */


/* Not required for template or sticky footer method. */

body>.container {
    padding: 60px 15px 0;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

form[name="$ctrl.fprof"] .md-form input {
    margin-bottom: 0px !important;
}

form[name="$ctrl.fprof"] .md-form small {
    color: #e57373;
}

button[type="submit"][disabled="disabled"] {
    opacity: 0.4;
    pointer-events: all !important;
    cursor: not-allowed !important;
}

blockquote {
    height: 100% !important;
}


/* DND */


/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */

ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}


/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */

ul[dnd-list] .dndDraggingSource {
    display: none;
}


/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */

ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}


/**
 * Show selected elements in green
 */

ul[dnd-list] li.selected {
    background-color: #bbdefb;
    color: #3F729B;
    /* transition: 0.5s; */
}