.text-granite {
    color: #AAAAAA;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #EEEEEE;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}

#topnav {
    background: rgba(51, 49, 51, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(51, 49, 51, 1) 0%, rgba(11, 40, 48, 1) 50%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(51, 49, 51, 1)), color-stop(50%, rgba(11, 40, 48, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(51, 49, 51, 1) 0%, rgba(11, 40, 48, 1) 50%, rgba(0, 0, 0, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(51, 49, 51, 1) 0%, rgba(11, 40, 48, 1) 50%, rgba(0, 0, 0, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(51, 49, 51, 1) 0%, rgba(11, 40, 48, 1) 50%, rgba(0, 0, 0, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(51, 49, 51, 1) 0%, rgba(11, 40, 48, 1) 50%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#333133', endColorstr='#000000', GradientType=1);
    background-attachment: fixed;
    background-position-y: -115px;
}

#topnav ul li {
    margin-bottom: -30px;
}

#topnav ul li.active::after {
    content: "";
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #EEEEEE transparent;
    bottom: 8px;
}


/* body>.container {
    padding: 60px 15px 0;
} */

main {
    padding: 60px 0 0;
    /* padding: 60px 15px 0; */
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.pointer {
    cursor: pointer;
}

#logout:hover {
    color: #207ce5 !important;
}

.card-custom {
    /* -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14); */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.card-custom .card-header {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -1.5rem;
    border-radius: 5px;
    box-shadow: 0 4px 20px 0 #00000024, 0 7px 10px -5px #207ce5;
    background-color: #207ce5
}

.card-custom ul li:hover {
    border-left: 3px solid #207ce5;
    background-color: #EEEEEE;
}

.search-custom span {
    position: absolute;
    right: 0;
    z-index: 1000;
    border: 0;
    background: transparent;
    line-height: 1.5;
}

.search-custom input:focus+div span {
    color: #207ce5 !important;
}

.search-custom input {
    padding-right: 2.4rem;
    border-radius: 25px !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}


/* #coursesOffer ul,
#myCourses ul {
    overflow-y: auto;
    max-height: 60vh;
} */

.accordion-custom>li {
    border-bottom: 0 !important;
    border-top: 0 !important;
}

.accordion-custom>li[aria-expanded="true"] {
    /* border-left: 3px solid #207ce5 !important;
    background-color: #EEEEEE; */
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.accordion-custom>li[aria-expanded="true"]>span.fas {
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg)
}

.accordion-custom>li[aria-expanded="false"]>span.fas {
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

.accordion-custom>li {
    border-left: 3px solid #207ce5 !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    background-color: #EEEEEE;
}

.accordion-custom>li:hover {
    font-weight: bold;
}

.accordion-custom>li+div>a {
    border-left: 2px solid #AAAAAA;
}